@import url("https://fonts.googleapis.com/css?family=Open+Sans:800|Poppins:500");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.block {
  align-self: center;
  width: 200px;
  height: 200px;
  background-color: #2200aa;
  position: relative;
}

.top {
  width: 65%;
  margin: 0 auto;
  height: 30px;
}

.right {
  float: right;
  width: 16%;
  height: 67%;
}

.bottom {
  position: absolute;
  top: 168px;
  left: 33px;
  bottom: 0;
  width: 65%;
  height: 30px;
}

.left {
  float: left;
  width: 16%;
  height: 67%;
}

.centered {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 120px;
  height: 120px;
}

.top:hover::before {
  width: 200px;
  height: 200px;
  background-color: black;
  content: "";
  display: inline-block;
  position: absolute;
  top: -200px;
  left: 0;
}

.right:hover::before {
  width: 200px;
  height: 200px;
  background-color: black;
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 200px;
}

.bottom:hover::before {
  width: 200px;
  height: 200px;
  background-color: black;
  content: "";
  display: inline-block;
  position: absolute;
  top: 30px;
  left: -34px;
}

.left:hover::before {
  width: 200px;
  height: 200px;
  background-color: black;
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -200px;
}

.centered:hover::before {
  width: 200px;
  height: 200px;
  background-color: black;
  content: "HEHEHEHE";
  display: inline-block;
  position: absolute;
  top: -40px;
  left: -40px;
}
